.jumbotron {
	background-color:#556b2f;
	color: white;
	text-align: center;
	padding: 1rem;
}

.card {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 1rem;
	box-shadow: 0.5rem 0.5rem 1rem gray;
}

.card-body {
	background-color: #666c74;
	color: white;
}
